$water:  rgb(83, 152, 192);
$plains: rgb(132, 211, 136);
$mountain:  rgb(65, 59, 59);
$field:rgb(216, 197, 27);
$forest: rgba(35, 109, 51, 0.993);
$hills:  rgb(179, 32, 32);
$desert: rgb(210, 214, 154);

$player1: #b35932;
$player2: #7a7573;
$player3: #516594;
$player4: #b071a8;

