

$primary   :#81b29a; //#027BE3;
$secondary : #3d405b;//#26A69A;
$accent    : #f2cc8f;// #9C27B0;

$dark      : #1D1D1D;

$positive  : #21BA45;
$negative  : #C10015;
$info      : #31CCEC;
$warning   :#e07a5f;// #F2C037;



@import '~quasar-variables-styl'
